Django>=5.0,<6.0
psycopg2-binary>=2.9
Pillow>=10.0
django-environ>=0.11   # удобное чтение переменных окружения из .env
gunicorn>=21.0         # для продакшн-сервера
whitenoise>=6.6        # для статики в продакшене
